* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

/* Heading and icon */
.container h1 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

h1 i {
  font-size: 60px;
  color: darkorchid;
  margin-right: 5px;
}

/* Button and icon */
.container button {
  display: flex;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 30px;
  padding: 15px 20px;
  cursor: pointer;
  margin: 10px 0 20px;
}

button i {
  margin-right: 5px;
  font-size: 30px;
  color: white;
  margin-top: 2px;
  padding: 0;
}
.header {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.input-box{
  position:relative;
  width: 100%;
   max-width: 500px;
   min-height: 180px;
   background: #fff;
   color:#333;
   padding: 25px;
   outline: none;
   border-radius: 5px;
   margin: 20px 0;  
}
.input-box i{
  position:absolute;
  bottom:15px;
  right:15px;
  font-size:22px;
  color:red;
  user-select: none;
  pointer-events: auto;
  cursor:pointer;
}
.note-text:focus {
  outline: none;
}